@media (min-width: 992px) {
    body {
        .header {
            .navbar {
                .container {
                    .offcanvas {
                        display: contents;
                    }
                }
            }
        }

        .main {
            .first-section {
                .container {
                    .container.container-content {
                        padding: 0;
                        margin: 0;
                        width: auto;
                        max-width: none;
                        padding-top: 219px;
                        position: relative;
                        z-index: 1;
                    }
                }
            }

            .second-section {
                .container {
                    .container.content-title {
                        margin: 0;
                        padding: 0;
                        width: auto;
                        max-width: none;
                        position: relative;
                        z-index: 1;
                        width: 100%;
                    }

                    .block-content {
                        .block {
                            .container {
                                margin: 0;
                                padding: 0;
                                max-width: none;
                                width: auto;
                            }
                        }
                    }
                }
            }

            .third-section {
                .container {
                    .container {
                        margin: 0;
                        padding: 0;
                        width: auto;
                        max-width: none;
                    }

                    .container {
                        margin: 0;
                        padding: 0;
                        width: auto;
                        max-width: none;
                    }
                }
            }

            .fifth-section {
                .container {
                    .container {
                        margin: 0;
                        padding: 0;
                        width: auto;
                        max-width: none;
                    }
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    body {
        .main {
            .first-section {
                .container {
                    .bg-block {
                        left: -300px;
                    }
                }
            }

            .second-section {
                .container {
                    .bg-block {
                        left: -300px;
                    }

                    .content-title {
                        .title {
                            .title-element {
                                .line {
                                    width: 390px;
                                }
                            }
                        }
                    }
                }

            }

            .third-section {
                .container {
                    .bg-block {
                        left: -390px;
                    }

                    .block-content {
                        .block {
                            width: 551.55px;
                        }
                    }
                }
            }

            .fourth-section {
                .container {
                    .container-img {
                        right: -190px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1200px) {
    body {
        .header {
            .navbar {
                .container {
                    offcanvas {
                        .navbar-nav {
                            .nav-item {
                                .nav-link {
                                    font-size: 14px;
                                }
                            }
                        }

                        .tel-btn {
                            .btn {
                                width: 212px;
                                height: 50px;

                                span {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .main {
            .first-section {
                .container {
                    .bg-block {
                        width: 1078.5px;
                        height: 641.5px;
                        left: -296px;
                        background-size: cover;
                    }

                    .container-content {
                        .content-title {
                            font-size: 58px;
                        }

                        .content-subtitle {
                            margin-bottom: 38px;

                            .marker {
                                margin-top: 6px;
                                margin-right: 10px;
                            }

                            .subtitle {
                                font-size: 16px;
                            }
                        }

                        .btn-down-block {
                            .btn-down {
                                .btn {
                                    width: 74px;
                                    height: 74px;
                                }
                            }
                        }
                    }

                    .container-img {
                        position: absolute;
                        right: -149px;
                        top: 108px;
                        width: 580px;
                    }
                }
            }

            .second-section {
                padding-top: 84px;
                height: 1018px;

                .container {
                    .bg-block {
                        background-size: cover;
                        width: 1472px;
                        height: 132px;
                        left: -256px;
                        top: 246px;
                    }

                    .content-title {
                        .title {
                            span {
                                font-size: 56px;
                            }
                        }

                        .subtitle {
                            font-size: 16px;
                            line-height: 90%;
                        }
                    }

                    .block-content {
                        .block {
                            .block-circles {
                                background-size: 91%;
                                width: 180px;
                                height: 180px;
                            }

                            .block-container {
                                .block-text {
                                    width: 210px;

                                    .block-title {
                                        font-size: 22px;
                                    }

                                    .block-subtitle {
                                        font-size: 14px;
                                    }
                                }
                            }
                        }

                        .block2,
                        .block4 {
                            margin-top: 132px;
                        }
                    }
                }
            }

            .third-section {
                .container {
                    height: 630px;

                    .bg-block {
                        background-size: cover;
                        width: 1280px;
                        height: 610px;
                        left: -190px;
                    }

                    .content-title {
                        padding-top: 58px;

                        .title {
                            span {
                                font-size: 55px;
                            }
                        }
                    }

                    .block-content {
                        .block {
                            width: 450px;

                            img {
                                width: 230px;
                            }

                            .block-text {
                                margin-left: -40px;
                                width: 100%;

                                .title {
                                    font-size: 16px;
                                    margin-bottom: 8px;
                                }

                                .subtitle {
                                    font-size: 12px;
                                    line-height: 136%;
                                }
                            }
                        }
                    }
                }
            }

            .fourth-section {
                padding-top: 144px;

                .container {
                    .container-img {
                        width: 650px;
                        top: -90px;
                    }

                    .container-content {
                        .content-title {
                            font-size: 55px;
                        }

                        .content-subtitle {
                            font-size: 16px;
                            width: 422px;
                            margin-bottom: 38px;
                        }

                        a {
                            .btn {
                                height: 76px;
                                width: 366px;
                                background: url(../images/icons/tg-button-border.svg) no-repeat center / 98%, linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);

                                span {
                                    font-size: 20px;
                                }
                            }
                        }

                        a:hover .btn {
                            background: url(../images/icons/tg-button-border-hover.svg) no-repeat center / 100%;
                        }
                    }
                }
            }

            .fifth-section {
                .container {
                    .content-title {
                        .title {
                            span {
                                font-size: 58px;
                            }
                        }
                    }

                    .accordion {
                        .accordion-item {
                            .accordion-header {
                                span {
                                    font-size: 22px;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    body {
        .background-elipses {
            display: none;
        }

        .header {
            .navbar {
                .container {
                    .navbar-brand {
                        img {
                            width: 180px;
                            height: 82px;
                        }
                    }

                    .navbar-toggler {
                        border: none;

                        .navbar-toggler-icon {
                            width: 2.5em;
                            height: 2.5em;
                            background-image: url(../images/icons/burger-btn-icon.svg);
                        }
                    }

                    .navbar-toggler:focus {
                        box-shadow: none;
                    }

                    .offcanvas {
                        .offcanvas-body {
                            .navbar-nav {
                                margin: 0;

                                .nav-item {
                                    margin: 2vh 0;

                                    .nav-link {
                                        font-family: 'Neue Machina';
                                        font-style: normal;
                                        font-weight: 800;
                                        font-size: 6vw;
                                        line-height: 124.5%;
                                        text-align: center;
                                        letter-spacing: 0.06em;
                                        background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                        -webkit-background-clip: text;
                                        -webkit-text-fill-color: transparent;
                                        background-clip: text;
                                        text-fill-color: transparent;
                                    }
                                }
                            }
                        }

                        .offcanvas-footer {
                            .tel-btn {
                                width: max-content;
                                margin: 0 auto;
                            }

                            .block-contacts {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }

        .main {
            .first-section {
                .container-adapt {
                    width: 100%;
                    max-width: none;
                    margin: 0;
                    padding: 0;
                }

                .container {
                    display: block;

                    .bg-block {
                        background: url(../images/first-section-bg-mobile.svg) no-repeat top left / cover, #fff;
                        left: 0;
                        width: 100%;
                        height: 1458px;
                    }

                    .container-content {
                        padding-top: 290px;

                        .btn-down-block {
                            display: none;
                        }

                        .content-title {
                            font-size: 78px;
                        }

                        .content-subtitle {
                            .marker {
                                margin-top: 22px;
                                width: 19px;
                                height: 14px;
                            }

                            .subtitle {
                                font-size: 38px;
                            }
                        }

                        .content-btn {
                            .btn {
                                background-size: 96%;
                                width: 420px;
                                height: 100px;

                                span {
                                    font-size: 32px;
                                }

                                .arrow-icon {
                                    background-size: cover;
                                    width: 22px;
                                    height: 18px;
                                }
                            }

                            .btn:hover {
                                background-size: cover;

                                .arrow-icon {
                                    background-size: cover;
                                    width: 22px;
                                    height: 18px;
                                }
                            }
                        }
                    }

                    .container-img {
                        width: 100%;
                        position: relative;
                        left: 0;
                        right: 0;
                    }
                }
            }

            .second-section {
                margin-top: 260px;
                padding: 0;
                height: auto;

                .container-adapt {
                    width: 100%;
                    max-width: none;
                    margin: 0;
                    padding: 0;

                    .bg-block {
                        display: none;
                    }

                    .content-title {
                        text-align: center;

                        .title {
                            span {
                                font-size: 74px;
                            }

                            .title-element {
                                display: none;
                            }
                        }

                        .subtitle {
                            font-size: 28px;
                            line-height: 140%;
                        }
                    }

                    .block-content {
                        display: block;

                        .block {
                            position: relative;
                            display: initial;

                            .block-container {
                                width: auto;
                                margin-bottom: 80px;

                                .block-text {
                                    width: 100%;
                                    height: 900px;

                                    .block-title {
                                        font-size: 76px;
                                    }

                                    .block-subtitle {
                                        font-size: 48px;
                                        margin-top: 46px;
                                    }
                                }
                            }

                            .block-circles {
                                position: relative;
                                z-index: 1;
                                width: 380px;
                                height: 380px;

                                .block-number {
                                    font-size: 160px;
                                }
                            }

                            .line {
                                z-index: 0;
                                position: relative;
                                top: -250px;
                                width: 100%;
                                left: 0;
                                margin-bottom: -130px;
                            }

                            .line.block-show.show {
                                height: 126px;
                            }

                            .circle {
                                width: 38px;
                                height: 38px;
                                margin-top: -16px;
                            }
                        }
                    }
                }

            }

            .third-section {
                .container-adapt {
                    height: 2234px;
                    width: 100%;
                    max-width: none;
                    margin: 0;
                    padding: 0;

                    .bg-block {
                        background: url(../images/third-section-bg-mobile.svg) no-repeat top left / cover;
                        width: 100%;
                        height: 2134px;
                        left: 0;
                    }

                    .bg-elipses-adapt {
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;

                        img {
                            position: absolute;
                            z-index: 2;
                        }

                        .el9 {
                            left: 0;
                            top: -140px;
                            width: 180px;
                        }

                        .el8 {
                            right: 0;
                            bottom: 0;
                        }
                    }

                    .content-title {
                        display: block;
                        text-align: center;
                        padding-top: 78px;
                        padding-bottom: 60px;

                        .title {
                            span {
                                font-size: 96px;
                            }
                        }
                    }

                    .block-content {
                        .block {
                            width: 100%;
                            margin-bottom: 40px;

                            img {
                                width: 540px;
                                margin-left: -100px;
                            }

                            .block-text {
                                .title {
                                    font-size: 28px;
                                }

                                .subtitle {
                                    font-size: 20px;
                                }
                            }
                        }

                    }
                }
            }

            .fourth-section {
                padding-top: 24px;
                padding-bottom: 90px;

                .container {
                    display: block;

                    .container-content {
                        text-align: center;

                        .content-title {
                            font-size: 90px;
                        }

                        .content-subtitle {
                            width: 100%;
                            font-size: 40px;
                        }

                        a {
                            .btn {
                                width: 694px;
                                margin: 0 auto;
                                height: 140px;

                                span {
                                    font-size: 40px;
                                }

                                .btn-icon {
                                    background-size: cover;
                                    height: 38px;
                                    width: 46px;
                                    margin-top: 10px;
                                }
                            }
                        }

                        a:hover {
                            .btn {
                                .btn-icon {
                                    background-size: cover;
                                }
                            }
                        }
                    }

                    .container-img {
                        position: relative;
                        width: 100%;
                        top: inherit;
                        right: inherit;
                    }
                }
            }

            .fifth-section {
                .container-adapt {
                    position: relative;
                    width: 100%;
                    max-width: none;
                    margin: 0;
                    padding: 0;
                    margin-top: -270px;

                    .bg-block {
                        width: 100%;
                        left: 0;
                        height: 105%;
                        background: url(../images/fifth-section-bg-mobile.svg) no-repeat top left / cover;
                    }

                    .content-title {
                        padding-top: 260px;

                        .title {
                            span {
                                font-size: 76px;
                            }
                        }
                    }

                    .accordion {
                        .accordion-item {
                            .accordion-header {
                                span {
                                    font-size: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            .navbar {
                .container {
                    justify-content: center;
                    text-align: center;

                    .copyright-text {
                        margin-bottom: 0;
                    }

                    .tg-btn:hover,
                    .inst-btn:hover {
                        .btn {
                            background-size: 50%;
                        }
                    }

                    .tg-btn {
                        margin-left: auto;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    body {
        .main {
            .first-section {
                .container {
                    .container-content {
                        padding-top: 220px;

                        .content-title {
                            font-size: 56px;
                        }

                        .content-subtitle {
                            .marker {
                                margin-top: 16px;
                                width: 17px;
                                height: 14px;
                            }

                            .subtitle {
                                font-size: 28px;
                            }
                        }

                        .content-btn {
                            .btn {
                                width: 320px;
                                height: 76px;

                                span {
                                    font-size: 26px;
                                }

                                .arrow-icon {
                                    width: 20px;
                                    height: 16px;
                                }
                            }
                        }
                    }

                    .bg-block {
                        height: 1128px;
                    }
                }
            }

            .second-section {
                margin-top: 170px;

                .container {
                    .content-title {
                        .title {
                            span {
                                font-size: 70px;
                            }
                        }

                        .subtitle {
                            font-size: 22px;
                        }
                    }

                    .block-content {
                        .block {
                            .block-container {
                                .block-text {
                                    height: 720px;

                                    .block-title {
                                        font-size: 58px;
                                    }

                                    .block-subtitle {
                                        font-size: 36px;
                                        margin-top: 28px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .third-section {
                .container {
                    height: 1654px;

                    .bg-block {
                        // width: 768px;
                        // height: 1654px;
                        // left: -110px;
                    }

                    .content-title {
                        padding-bottom: 0px;

                        .title {
                            span {
                                font-size: 70px;
                            }
                        }
                    }

                    .block-content {
                        .block {
                            margin-bottom: 0;

                            img {
                                width: 332px;
                                margin-left: -70px;
                            }

                            .block-text {
                                .title {
                                    font-size: 20px;
                                }

                                .subtitle {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }

            .fourth-section {
                padding-top: 64px;

                .container {
                    .container-content {
                        .content-title {
                            font-size: 60px;
                        }

                        .content-subtitle {
                            font-size: 30px;
                        }

                        a {
                            .btn {
                                height: 104px;
                                width: 540px;

                                span {
                                    font-size: 30px;
                                }

                                .btn-icon {
                                    height: 30px;
                                    width: 36px;
                                    margin-top: 4px;
                                }
                            }
                        }
                    }
                }
            }

            .fifth-section {
                .container {
                    .content-title {
                        padding-top: 410px;

                        .title {
                            span {
                                font-size: 56px;
                            }
                        }
                    }

                    .accordion {
                        .accordion-item {
                            margin-bottom: 30px;
                            padding: 10px 14px;

                            .accordion-header {
                                span {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    body {
        .header {
            .navbar {
                --bs-navbar-padding-y: 0.5rem;

                .container {
                    .navbar-toggler {
                        .navbar-toggler-icon {
                            width: 2em;
                            height: 2em;
                        }
                    }

                    .navbar-brand {
                        img {
                            width: 130px;
                        }
                    }
                }
            }
        }

        .main {
            .first-section {
                .container {
                    .bg-block {
                        // height: 848px;
                        height: 214vw;
                    }

                    .container-content {
                        padding-top: 40vw;

                        .content-title {
                            font-size: 10vw;
                        }

                        .content-subtitle {
                            .marker {
                                margin-top: 2.4vw;
                            }

                            .subtitle {
                                font-size: 5vw;
                            }
                        }

                        .content-btn {
                            .btn {
                                width: 60vw;
                                height: 14vw;
                                border-radius: 2.6vw;

                                span {
                                    font-size: 4.4vw;
                                }

                                .arrow-icon {
                                    width: 12px;
                                    height: 10px;
                                }
                            }

                            .btn:hover {
                                .arrow-icon {
                                    width: 12px;
                                    height: 10px;
                                }
                            }
                        }
                    }

                    .container-img {
                        top: 0;
                    }
                }
            }

            .second-section {
                margin-top: 20vw;

                .container {
                    .content-title {
                        .title {
                            span {
                                font-size: 12vw;
                            }
                        }

                        .subtitle {
                            font-size: 4vw;
                        }
                    }

                    .block-content {
                        .block.block-show.show {
                            .line.block-show.show {
                                display: none;
                            }

                            .block-container.block-show.show {
                                width: 80vw;
                                height: 100vw;
                                margin: -12px auto 30px auto;
                            }
                        }

                        .block {
                            .block-elements {
                                position: relative;
                                display: flex;
                                align-items: center;

                                .bg-line {
                                    position: absolute;
                                    z-index: 0;
                                    width: 100%;
                                    height: 24vw;
                                    background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                }
                            }

                            .block-circles {
                                position: relative;
                                z-index: 1;
                                width: 60vw;
                                height: 60vw;

                                .block-number {
                                    line-height: 100%;
                                    font-size: 26vw;
                                }
                            }

                            .circle {
                                width: 8vw;
                                height: 8vw;
                            }

                            .block-container {
                                margin-bottom: 30px;

                                .block-text {
                                    padding: 32px 20px;
                                    height: 100%;

                                    .block-title {
                                        font-size: 9vw;
                                    }

                                    .block-subtitle {
                                        font-size: 5.2vw;
                                        margin-top: 3vw;

                                        br {
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .third-section {
                padding-top: 30px;

                .container {
                    height: 240vw;

                    .bg-elipses-adapt {
                        .el9 {
                            left: 0;
                            top: -40px;
                            width: 60px;
                        }

                        .el8 {
                            width: 100px;
                        }
                    }

                    .bg-block {
                        height: 218vw;
                    }

                    .content-title {
                        padding-top: 28px;
                        padding-bottom: 4vw;

                        .title {
                            span {
                                font-size: 12vw;
                            }
                        }
                    }

                    .block-content {
                        .block {
                            img {
                                width: 40vw;
                                margin-left: -4vw;
                            }

                            .block-text {
                                margin-left: -8vw;

                                .title {
                                    font-size: 4vw;
                                }

                                .subtitle {
                                    font-size: 2.6vw;

                                    p {
                                        margin-bottom: 0.4rem;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .fourth-section {
                padding-top: 0;
                padding-bottom: 190px;

                .container {
                    .container-content {
                        .content-title {
                            font-size: 10vw;
                        }

                        .content-subtitle {
                            font-size: 5.4vw;
                        }

                        a {
                            .btn {
                                height: 60px;
                                width: 288px;

                                span {
                                    font-size: 16px;
                                }

                                .btn-icon {
                                    height: 20px;
                                    width: 24px;
                                }
                            }
                        }
                    }
                }
            }

            .fifth-section {
                .container {
                    .bg-block {
                        background: url(../images/fifth-section-bg-mobile.svg) no-repeat top left/cover;
                    }

                    .content-title {
                        padding-top: 110px;

                        .title {
                            span {
                                font-size: 32px;
                            }
                        }
                    }

                    .accordion {
                        margin-top: 20px;
                        --bs-accordion-btn-icon-width: 3.4vw;

                        .accordion-item {
                            margin-bottom: 20px;
                            padding: 6px 10px;
                            border-radius: 10px;

                            .accordion-header {
                                span {
                                    font-size: 3vw;
                                    padding-right: 8px;

                                    br {
                                        display: none;
                                    }
                                }

                                .accordion-button {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 6px;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    font-size: 8px;
                                }
                            }
                        }
                    }

                    .btn-up-block {
                        padding-bottom: 160px;

                        .btn-up {
                            text-decoration: none;

                            .btn {
                                height: 46px;
                                width: 174px;

                                span {
                                    font-size: 16px;
                                    margin-right: 6px;
                                }

                                svg {
                                    width: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer {
            .navbar {
                .container {
                    .navbar-brand {
                        img {
                            width: 130px;
                        }
                    }

                    .contact-btn .btn {
                        height: 40px;
                        width: 40px;
                        background-size: 50%;
                    }

                    .tg-btn {
                        margin-right: 10px;
                    }
                }
            }

            .navbar.two {
                .container {
                    .copyright-text {
                        font-size: 10px;
                    }

                    .navbar-collapse .navbar-nav .nav-item .nav-link {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}