html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow-x: hidden;

    .header {
        position: absolute;
        z-index: 2;
        width: 100%;

        .navbar {
            --bs-navbar-padding-y: 2.5rem;

            .container {
                .collapse {
                    .navbar-nav {
                        margin-left: 56px;

                        .nav-item {
                            margin-right: 50px;

                            .nav-link {
                                font-family: 'Gilroy';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 19px;
                                line-height: 150%;
                                color: #FFFFFF;
                            }
                        }
                    }

                    .tel-btn {
                        text-decoration: none;
                        padding: 3px;
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s;
                        background: linear-gradient(93.3deg, #7C00FF 1.05%, #B200FF 98.66%);

                        .btn {
                            width: 259.1px;
                            height: 61.27px;
                            border-radius: 27px;
                            border: none;
                            background-color: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s;

                            span {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 19px;
                                line-height: 150%;
                                text-align: center;
                                background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                margin-right: 12px;
                                transition: all 0.3s;
                            }

                            .telephone-icon {
                                width: 22px;
                                height: 22px;
                                transition: all 0.3s;
                                background: url(../images/icons/telephone-icon.svg) no-repeat left top;
                            }
                        }
                    }

                    .tel-btn:hover {
                        .btn {
                            border-radius: 30px;
                            background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);

                            span {
                                background: linear-gradient(266.09deg, #ffffff -4.3%, #ffffff 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                            }

                            .telephone-icon {
                                width: 22px;
                                height: 22px;
                                transform: rotate(-90deg);
                                background: url(../images/icons/telephone-icon-hover.svg) no-repeat left top;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        .first-section {
            .container {
                position: relative;

                .bg-block {
                    width: 1208.5px;
                    height: 718.5px;
                    position: absolute;
                    z-index: 0;
                    left: -210px;
                    background: url(../images/first-section-bg.png) no-repeat left top;
                }

                .container-content {
                    padding-top: 219px;
                    position: relative;
                    z-index: 1;

                    .content-title {
                        font-family: 'Neue Machina';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 72px;
                        line-height: 115%;
                        color: #FFFFFF;
                    }

                    .content-subtitle {
                        margin-top: 18px;
                        margin-bottom: 58px;
                        display: flex;

                        .marker {
                            width: 14px;
                            height: 14px;
                            opacity: 0.8;
                            border-radius: 100%;
                            border: 3px dashed #FFFFFF;
                            transform: rotate(64deg);
                            margin-top: 14px;
                            margin-right: 16px;
                        }

                        .subtitle {
                            font-family: 'Gilroy';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 160%;
                            color: #FFFFFF;
                            opacity: 0.8;
                        }

                    }

                    .content-btn {
                        text-decoration: none;

                        .btn {
                            width: 260px;
                            height: 60px;
                            background: url(../images/icons/button-border.svg) no-repeat center center, #fff;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s;
                            border-radius: 15px;

                            span {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 19px;
                                line-height: 150%;
                                text-align: center;
                                letter-spacing: 0.06em;
                                color: #BD00FF;
                                transition: all 0.3s;
                            }

                            .arrow-icon {
                                margin-left: 21px;
                                width: 14px;
                                height: 11px;
                                background: url(../images/icons/button-arrow-icon.svg) no-repeat left top;
                                transition: all 0.3s;
                            }
                        }

                        .btn:hover {
                            background: url(../images/icons/button-border-hover.svg) no-repeat center center;

                            span {
                                color: #ffffff;
                            }

                            .arrow-icon {
                                margin-left: 21px;
                                width: 14px;
                                height: 11px;
                                background: url(../images/icons/button-arrow-icon-hover.svg) no-repeat left top;
                                transform: rotate(45deg);
                            }
                        }

                    }

                    .btn-down-block {
                        width: max-content;
                        height: max-content;
                        margin: 0 auto;
                        margin-top: 20px;
                        border-radius: 100%;
                        padding: 2px;
                        background: linear-gradient(359.55deg, #BD00FF -67.98%, #7000FF 94.62%);

                        .btn-down {


                            .btn {
                                width: 84px;
                                height: 84px;
                                border-radius: 100%;
                                background: url(../images/icons/btn-bottom-icon.svg) no-repeat center center, #ffffff;
                            }
                        }
                    }
                }

                .container-img {
                    position: absolute;
                    right: -259px;
                    top: 98px;
                }
            }
        }

        .second-section {
            padding-top: 118px;
            .container {
                .content-title {
                    .title {
                        font-family: 'Neue Machina';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 71px;
                        line-height: 115%;
                        background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        margin-bottom: 17px;
                    }

                    .subtitle {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        color: #6A6A6A;
                        margin-bottom: 62px;
                    }
                }
            }
        }
    }
}