html,
body {
    width: 100%;
    // height: 100%;
}

body {
    overflow-x: hidden;

    .background-elipses {
        position: relative;

        img {
            position: absolute;
        }

        .z-in-1 {
            z-index: 1;
        }

        .el1 {
            left: -210px;
            top: 0;
        }

        .el2 {
            left: -210px;
            top: 310px;
        }

        .el3 {
            right: -210px;
            top: 170px;
        }

        .el4 {
            right: -210px;
            top: 890px;
        }

        .el5 {
            left: -210px;
            top: 1100px;
        }

        .el6 {
            left: -210px;
            top: 1070px;
        }

        .el7 {
            right: -210px;
            top: 1300px;
        }

        .el8 {
            right: -210px;
            top: 1780px;
        }

        .el9 {
            left: -210px;
            top: 2170px;
        }

        .el10 {
            left: -210px;
            top: 3110px;
        }

        .el11 {
            z-index: 2;
            right: -210px;
            top: 3530px;
        }
    }

    .header {
        position: absolute;
        z-index: 2;
        width: 100%;

        .navbar {
            --bs-navbar-padding-y: 2.5rem;

            .container {
                .offcanvas {
                    --bs-offcanvas-width: 100%;
                    --bs-offcanvas-height: 100%;

                    .offcanvas-header {
                        padding: var(--bs-navbar-padding-y) var(--bs-offcanvas-padding-x);
                        margin: 16px 0;

                        .btn-close {
                            background: url(../images/icons/btn-close.svg) no-repeat center / cover;
                            margin-right: 0;
                        }
                    }
                    .navbar-nav {
                        margin-left: 56px;

                        .nav-item {
                            margin-right: 50px;

                            .nav-link {
                                font-family: 'Gilroy';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 19px;
                                line-height: 150%;
                                color: #FFFFFF;
                            }
                        }
                    }

                    .tel-btn {
                        text-decoration: none;
                        padding: 3px;
                        border-radius: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s;
                        background: linear-gradient(93.3deg, #7C00FF 1.05%, #B200FF 98.66%);

                        .btn {
                            width: 259.1px;
                            height: 61.27px;
                            border-radius: 27px;
                            border: none;
                            background-color: #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s;

                            span {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 19px;
                                line-height: 150%;
                                text-align: center;
                                background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                margin-right: 12px;
                                transition: all 0.3s;
                            }

                            .telephone-icon {
                                width: 22px;
                                height: 22px;
                                transition: all 0.3s;
                                background: url(../images/icons/telephone-icon.svg) no-repeat left top;
                            }
                        }
                    }

                    .tel-btn:hover {
                        .btn {
                            border-radius: 30px;
                            background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);

                            span {
                                background: linear-gradient(266.09deg, #ffffff -4.3%, #ffffff 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                            }

                            .telephone-icon {
                                width: 22px;
                                height: 22px;
                                transform: rotate(-90deg);
                                background: url(../images/icons/telephone-icon-hover.svg) no-repeat left top;
                            }
                        }
                    }
                }
            }
        }
    }

    .main {
        .first-section {
            .container {
                position: relative;

                .bg-block {
                    width: 1208.5px;
                    height: 718.5px;
                    position: absolute;
                    z-index: 0;
                    left: -210px;
                    background: url(../images/first-section-bg.png) no-repeat left top;
                }

                .container-content {
                    padding-top: 219px;
                    position: relative;
                    z-index: 1;

                    .content-title {
                        font-family: 'Neue Machina';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 72px;
                        line-height: 115%;
                        color: #FFFFFF;

                        span {
                            background: url(../images/elipses/rectangle1.svg) no-repeat top left / 100%;
                            padding: 0 14px;
                        }
                    }

                    .content-subtitle {
                        margin-top: 18px;
                        margin-bottom: 58px;
                        display: flex;

                        .marker {
                            width: 14px;
                            height: 14px;
                            opacity: 0.8;
                            border-radius: 100%;
                            border: 3px dashed #FFFFFF;
                            transform: rotate(64deg);
                            margin-top: 14px;
                            margin-right: 16px;
                        }

                        .subtitle {
                            font-family: 'Gilroy';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 160%;
                            color: #FFFFFF;
                            opacity: 0.8;
                        }

                    }

                    .content-btn {
                        text-decoration: none;

                        .btn {
                            width: 260px;
                            height: 60px;
                            background: url(../images/icons/button-border.svg) no-repeat center center, #fff;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s;
                            border-radius: 15px;

                            span {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 19px;
                                line-height: 150%;
                                text-align: center;
                                letter-spacing: 0.06em;
                                color: #BD00FF;
                                transition: all 0.3s;
                            }

                            .arrow-icon {
                                margin-left: 21px;
                                width: 14px;
                                height: 11px;
                                background: url(../images/icons/button-arrow-icon.svg) no-repeat left top;
                                transition: all 0.3s;
                            }
                        }

                        .btn:hover {
                            background: url(../images/icons/button-border-hover.svg) no-repeat center center;

                            span {
                                color: #ffffff;
                            }

                            .arrow-icon {
                                margin-left: 21px;
                                width: 14px;
                                height: 11px;
                                background: url(../images/icons/button-arrow-icon-hover.svg) no-repeat left top;
                                transform: rotate(45deg);
                            }
                        }

                    }

                    .btn-down-block {
                        width: max-content;
                        height: max-content;
                        margin: 0 auto;
                        margin-top: 20px;
                        border-radius: 100%;
                        padding: 2px;
                        background: linear-gradient(359.55deg, #BD00FF -67.98%, #7000FF 94.62%);

                        .btn-down {


                            .btn {
                                width: 84px;
                                height: 84px;
                                border-radius: 100%;
                                background: #ffffff;
                                display: grid;
                                justify-content: center;
                                align-content: center;

                                svg {
                                    margin: 2.5px auto;
                                }
                            }
                        }
                    }
                }

                .container-img {
                    position: absolute;
                    right: -259px;
                    top: 98px;
                }
            }
        }

        .second-section {
            padding-top: 118px;
            height: 1128px;

            .container {
                position: relative;

                .content-title {
                    position: relative;
                    z-index: 1;
                    width: 100%;

                    .title {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        span {
                            font-family: 'Neue Machina';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 71px;
                            line-height: 115%;
                            background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;
                            margin-bottom: 17px;
                        }

                        .title-element {
                            position: absolute;
                            right: -210px;
                            display: flex;
                            align-items: center;

                            .circle {
                                position: relative;
                                z-index: 1;
                                border-radius: 100%;
                                width: 20px;
                                height: 20px;
                                margin-right: -10px;
                                background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                            }

                            .line {
                                width: 537px;
                                height: 8px;
                                background: #B301FF;
                            }
                        }
                    }

                    .subtitle {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 140%;
                        color: #6A6A6A;
                        margin-bottom: 62px;
                    }
                }

                .bg-block {
                    position: absolute;
                    z-index: 0;
                    top: 296px;
                    left: -210px;
                    width: 1740px;
                    height: 158px;
                    background: url(../images/second-section-bg.png) no-repeat left top;
                }

                .block-content {
                    display: flex;
                    justify-content: center;

                    .block {
                        display: grid;
                        justify-content: center;
                        text-align: center;
                        height: max-content;
                        margin: 0 19px;

                        .block-circles {
                            width: 215px;
                            height: 215px;
                            margin: 0 auto;
                            background: url(../images/icons/second-section-number-border.svg)no-repeat center center, #FFFFFF;
                            box-shadow: 0px 0px 20px #DDDDDD;
                            border-radius: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .block-number {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 90px;
                                line-height: 140%;
                                background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                            }
                        }

                        .line {
                            width: 4px;
                            height: 117px;
                            margin: 0 auto;
                            background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                        }

                        .circle {
                            position: relative;
                            z-index: 1;
                            width: 18px;
                            height: 18px;
                            margin: 0 auto;
                            border-radius: 100%;
                            background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                        }

                        .block-container {
                            width: max-content;
                            height: max-content;
                            padding: 1px;
                            border-radius: 30px;
                            margin-top: -9px;
                            background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);

                            .block-text {
                                width: 255px;
                                height: 310px;

                                background: #FFFFFF;
                                box-shadow: 0px 0px 20px rgba(181, 181, 181, 0.2);
                                border-radius: 30px;
                                padding: 53px 20px;

                                .block-title {
                                    font-family: 'Neue Machina';
                                    font-style: normal;
                                    font-weight: 800;
                                    font-size: 25px;
                                    line-height: 100%;
                                    text-align: center;
                                    background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                    -webkit-background-clip: text;
                                    -webkit-text-fill-color: transparent;
                                    background-clip: text;
                                    text-fill-color: transparent;
                                }

                                .block-subtitle {
                                    font-family: 'Gilroy';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 160%;
                                    text-align: center;
                                    letter-spacing: 0.03em;
                                    color: #404040;
                                    margin-top: 16px;
                                }
                            }
                        }
                    }

                    .block2,
                    .block4 {
                        margin-top: 160px;
                    }

                    .block3 {
                        .block-container {
                            .block-text {
                                height: 346px;
                            }
                        }
                    }
                }
            }
        }

        .third-section {
            padding-top: 69px;

            .container {
                height: 870px;
                position: relative;

                .bg-block {
                    position: absolute;
                    z-index: 0;
                    left: -320px;
                    width: 1954.2px;
                    height: 892.42px;
                    background: url(../images/third-section-bg.png) no-repeat left top;
                }
                .bg-elipses-adapt {
                    display: none;
                }

                .content-title {
                    width: 100%;
                    display: flex;
                    justify-content: right;
                    position: relative;
                    padding-top: 88px;
                    z-index: 1;

                    .title {
                        span {
                            font-family: 'Neue Machina';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 71px;
                            line-height: 115%;
                            background: linear-gradient(266.09deg, #FFFFFF -4.3%, #F1F1F1 108.23%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            background-clip: text;
                            text-fill-color: transparent;

                        }
                    }
                }

                .block-content {
                    position: relative;
                    z-index: 1;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;

                    .block {
                        width: 620.55px;
                        display: flex;
                        align-items: center;

                        .block-text {
                            margin-left: -60px;
                            width: 398px;

                            .title {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 22px;
                                line-height: 120%;
                                background: linear-gradient(266.09deg, #FFFFFF -4.3%, #F1F1F1 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                margin-bottom: 12px;
                            }

                            .subtitle {
                                font-family: 'Gilroy';
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 160%;
                                color: #FFFFFF;

                                span {
                                    padding-top: 7px;
                                    font-weight: 300;
                                    color: #DEDEDE;
                                }
                            }
                        }
                    }
                }
            }
        }

        .fourth-section {
            padding-top: 223px;

            .container {
                position: relative;

                .container-content {
                    .content-title {
                        font-family: 'Neue Machina';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 71px;
                        line-height: 115%;
                        background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        background-clip: text;
                        text-fill-color: transparent;
                        margin-bottom: 5px;
                    }

                    .content-subtitle {
                        font-family: 'Gilroy';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 160%;
                        color: #000000;
                        margin-bottom: 68px;
                        width: 525px;

                        a {
                            text-decoration: none;
                            color: #000000;
                        }

                        a:hover {
                            text-decoration: underline;
                        }
                    }

                    a {
                        text-decoration: none;
                        transition: all 0.3s;

                        .btn {
                            height: 90px;
                            width: 452px;
                            border-radius: 10px;
                            background: url(../images/icons/tg-button-border.svg) no-repeat center,
                                linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            transition: all 0.3s;

                            span {
                                transition: all 0.3s;
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 23px;
                                line-height: 150%;
                                text-align: center;
                                letter-spacing: 0.06em;
                                color: #FFFFFF;
                                margin-right: 15px;
                            }

                            .btn-icon {
                                transition: all 0.3s;
                                height: 25px;
                                width: 30px;
                                background: url(../images/icons/tg-icon.svg) no-repeat left top;
                            }
                        }
                    }

                    a:hover {
                        .btn {
                            background: url(../images/icons/tg-button-border-hover.svg) no-repeat center center;

                            span {
                                color: #BD00FF;
                            }

                            .btn-icon {
                                background: url(../images/icons/tg-icon-hover.svg) no-repeat left top;
                            }
                        }
                    }
                }

                .container-img {
                    position: absolute;
                    right: -80px;
                    top: -130px;
                }
            }
        }

        .fifth-section {
            .container {
                position: relative;

                .bg-block {
                    position: absolute;
                    z-index: 0;
                    left: -210px;
                    width: 1740px;
                    height: 104%;
                    background: url(../images/fifth-section-bg.png) no-repeat top left;
                }

                .content-title {
                    padding-top: 470px;
                    position: relative;
                    z-index: 1;
                    width: 100%;
                    text-align: center;

                    .title {
                        span {
                            font-family: 'Neue Machina';
                            font-style: normal;
                            font-weight: 800;
                            font-size: 71px;
                            line-height: 115%;
                            color: #FFFFFF;
                        }
                    }
                }

                .accordion {
                    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.7526 27.7525C27.9175 27.5875 28.0001 27.3713 28.0001 27.1551C28.0001 26.9389 27.9175 26.7227 27.7526 26.5577L15.1949 14L27.7527 1.44222C27.9176 1.27732 28.0001 1.06098 28.0001 0.844781C28.0001 0.628648 27.9176 0.412446 27.7527 0.247405C27.4228 -0.082473 26.8879 -0.082473 26.5579 0.247405L14.0001 12.8053L1.44233 0.247406C1.11238 -0.0824719 0.577524 -0.0824719 0.24758 0.247406C-0.0823653 0.577351 -0.0823653 1.11221 0.24758 1.44222L12.8054 14L0.247716 26.5578C-0.082229 26.8877 -0.082229 27.4226 0.247716 27.7525C0.577593 28.0825 1.11252 28.0825 1.44247 27.7525L14.0002 15.1948L26.5579 27.7525C26.8878 28.0824 27.4228 28.0824 27.7526 27.7525Z' fill='white'/%3e%3c/svg%3e");
                    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M27.7526 27.7525C27.9175 27.5875 28.0001 27.3713 28.0001 27.1551C28.0001 26.9389 27.9175 26.7227 27.7526 26.5577L15.1949 14L27.7527 1.44222C27.9176 1.27732 28.0001 1.06098 28.0001 0.844781C28.0001 0.628648 27.9176 0.412446 27.7527 0.247405C27.4228 -0.082473 26.8879 -0.082473 26.5579 0.247405L14.0001 12.8053L1.44233 0.247406C1.11238 -0.0824719 0.577524 -0.0824719 0.24758 0.247406C-0.0823653 0.577351 -0.0823653 1.11221 0.24758 1.44222L12.8054 14L0.247716 26.5578C-0.082229 26.8877 -0.082229 27.4226 0.247716 27.7525C0.577593 28.0825 1.11252 28.0825 1.44247 27.7525L14.0002 15.1948L26.5579 27.7525C26.8878 28.0824 27.4228 28.0824 27.7526 27.7525Z' fill='white'/%3e%3c/svg%3e");
                    --bs-accordion-btn-icon-transform: rotate(-45deg);
                    margin-top: 60px;
                    position: relative;
                    z-index: 1;
                    // padding-bottom: 200px;

                    .accordion-item {
                        margin-bottom: 35px;
                        padding: 21px 32px;
                        border-radius: 20px;

                        .accordion-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            span {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 25px;
                                line-height: 150%;
                                background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                            }

                            .accordion-button {
                                width: 70px;
                                height: 70px;
                                background: #BD00FF;
                                border-radius: 10.5px;
                                justify-content: center;
                            }

                            .accordion-button::after {
                                rotate: 45deg;
                                margin: 0;
                                padding: 0;
                            }

                            .accordion-button:focus {
                                border-color: 0;
                                box-shadow: none;
                            }

                            .accordion-button:hover {
                                background: #8F00FF;
                            }
                        }

                        .accordion-collapse {
                            .accordion-body {
                                padding-left: 0;
                                padding-right: 0;

                                font-family: 'Gilroy';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 20px;
                                line-height: 160%;
                                color: #000000;
                            }
                        }
                    }
                }

                .btn-up-block {
                    padding-bottom: 200px;
                    display: flex;
                    justify-content: center;

                    .btn-up {
                        width: max-content;
                        margin: 0 auto;

                        .btn {
                            height: 86px;
                            width: 254px;
                            position: relative;
                            z-index: 1;
                            background: #FFFFFF;
                            box-shadow: 0px 0px 50.2207px #5300A3;
                            border-radius: 10.4626px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;

                            span {
                                font-family: 'Neue Machina';
                                font-style: normal;
                                font-weight: 700;
                                font-size: 26.7339px;
                                line-height: 150%;
                                /* or 40px */

                                text-align: center;

                                /* Purp */

                                background: linear-gradient(266.09deg, #BD00FF -4.3%, #7000FF 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                margin-right: 16px;
                            }
                        }
                    }

                    .btn-up:hover {
                        .btn {
                            background: none;
                            border: 2px solid #FFFFFF;

                            span {
                                background: linear-gradient(266.09deg, #FFFFFF -4.3%, #F1F1F1 108.23%);
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                background-clip: text;
                                text-fill-color: transparent;
                                
                            }
                            .stop1 {
                                stop-color: #ffffff;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        width: 100%;
        position: relative;
        margin-top: -153px;
        z-index: 1;

        .navbar {
            .container {
                .navbar-collapse {
                    .navbar-nav {
                        .nav-item {
                            margin: 0 30px;

                            .nav-link {
                                font-family: 'Gilroy';
                                font-style: normal;
                                font-weight: 600;
                                font-size: 19px;
                                line-height: 150%;
                                color: #FFFFFF;
                            }
                        }
                    }
                }

                .contact-btn {
                    .btn {
                        height: 60px;
                        width: 60px;
                        border-radius: 100%;
                    }
                }

                .tg-btn {
                    margin-right: 40px;

                    .btn {
                        background: url(../images/icons/telegram-icon.svg) no-repeat 40% center, #FFFFFF;
                    }
                }

                .inst-btn {
                    .btn {
                        background: url(../images/icons/instagram-icon.svg) no-repeat center, #FFFFFF;
                    }
                }

                .contact-btn:hover {
                    .btn {
                        background: none;
                        border: 3px solid #FFFFFF;
                    }
                }

                .tg-btn:hover {
                    .btn {
                        background: url(../images/icons/telegram-icon-hover.svg) no-repeat 40% center;
                    }
                }

                .inst-btn:hover {
                    .btn {
                        background: url(../images/icons/instagram-icon-hover.svg) no-repeat center;
                    }
                }
            }
        }

        .navbar.two {
            padding: 0;

            .container {
                .copyright-text {
                    font-family: 'Neue Machina';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 15px;
                    line-height: 150%;
                    color: #FFFFFF;
                }

                .plug {
                    width: 130px;
                }
            }
        }
    }
}